
URxvt*termName: rxvt-unicode



! special
*.foreground:   #1a1a1a
*.background:   #c2c8d4
*.cursorColor:  #7E8FB0

! black
*.color0:       #191b1e
*.color8:       #191b1e

! red
*.color1:       #a6393e
*.color9:       #a6393e

! green
*.color2:       #2b8a51
*.color10:      #2b8a51

! yellow
*.color3:       #374d67
*.color11:      #374d67

! blue
*.color4:       #397bb0
*.color12:      #397bb0

! magenta
*.color5:       #ae3273
*.color13:      #ae3273

! cyan
*.color6:       #1da5b0
*.color14:      #1da5b0

! white
*.color7:       #e1e1e1
*.color15:      #d9d9d9





!Font
URxvt.font: xft:Hack:size=12




!!!Font letter space растояние между буквами
URxvt.letterSpace: 0

!!!line Space отступы между словами
URxvt.lineSpace: 0

!!!Размер терминала
!URxvt.geometry: 92x24

!!!cursor blink Мигающий курсор
URxvt.cursorBlink: false

!!!Курсор в виде линии подчеркивания
URxvt.cursorUnderline: false

!!!scrollBar стиль полосы прокрутки - false (отключить), rxvt (по умолчанию), plain (самый компактный), next, или xterm
URxvt.scrollBar: true
URxvt.scrollstyle: plain
URxvt.scrollBar_right: true


!!!Сохранять 5000 строк для прокрутки
URxvt*saveLines: 5000




!!!Указываем путь к расширениям perl
!URxvt.perl-lib:


!!!Указываем, какие дополнения urxvt будет использовать. matcher - работа со ссылками. tabbed - для включения вкладок. selection-to-clipboard - CLIPBOARD
URxvt.perl-ext-common: default,matcher,selection-to-clipboard,font-size


!!clipboard copy paste
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Shift-Control-V: eval:paste_clipboard

!!font size
URxvt.keysym.Control-equal: font-size:increase
URxvt.keysym.Control-minus: font-size:decrease




!!Кликабельные ссылки (URL-адреса)
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1




!!Цвет вкладок
!URxvt.tabbed.tabbar-fg: 15
!URxvt.tabbed.tabbar-bg: 8
!URxvt.tabbed.tab-fg:    8
!URxvt.tabbed.tab-bg:    15


!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!Простые вкладки (подсказка)
!!Shift+Down	Новая вкладка
!!Shift+Left	Перейти к левой вкладке
!!Shift+Right Перейти к правой вкладке
!!Ctrl+Left Переместить вкладку влево
!!Ctrl+Right	Переместить вкладку вправо
!!Ctrl+d	Закрыть вкладку
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!




!! Заставить работать некоторые клавиши в текстовых редакторах Make some keys work in text editor
*URxvt*keysym.Home:		\033OH
*URxvt*keysym.End:		\033OF
URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~
URxvt.keysym.S-Home           : \033[1;2H
URxvt.keysym.S-End            : \033[1;2F
URxvt.keysym.C-Home           : \033[1;5H
URxvt.keysym.C-End            : \033[1;5F
URxvt.keysym.C-S-Up           : \033[1;6A
URxvt.keysym.C-S-Down         : \033[1;6B
URxvt.keysym.C-S-Right        : \033[1;6C
URxvt.keysym.C-S-Left         : \033[1;6D
URxvt.keysym.C-Up             : \033[1;5A
URxvt.keysym.C-Down           : \033[1;5B
URxvt.keysym.C-Right          : \033[1;5C
URxvt.keysym.C-Left           : \033[1;5D






!!ISO 14755 mode
!!Picture Insert Mode
URxvt.iso14755: false
URxvt.iso14755_52: false


